h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 260101053-03 Establecer el plan de comunicación integral de acuerdo con el comportamiento del consumidor.