.container
    .header-ecored
        h1 2. Estructura gráfica del plan

    .jumbotron.bg-white 
        .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/x5BjZVrjor', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')